.container-tmp {
  margin: 0 !important;
  padding: 0 !important;
  height: 100vh;
  width: 100vh;

  .welcome_text {
    font-size: 36px;
  }

  .description {
    font-size: 160px !important;
  }

  .start_button {
    padding: 20px 62px;
  }
}
