@import '../../utils/default.scss';  
  
  .welcome_text {
    font-size: 36px;
  }

  .description {
    font-size: 16px;
  }

  .start_button {
    padding: 20px 62px;
  }

  .bg_svg {
    background-image: url('../../assets/images/bg-home.svg');
  }

  @media (max-width: 768px) {
    .logo {
      width:90px !important;
    }
    .bg_svg {
      background-image: url('../../assets/images/bg-mobile.svg') !important;
    }
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .bg_svg {
      background-image: url('../../assets/images/bg2.svg') !important;
    }
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    .bg_svg {
      background-image: url('../../assets/images/bg-3.svg') !important;
    }
  }